VisualElement {
background-color:#fffff0;
}

#menu-box{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
}

#menu-box > Button
{
	font-size:25px;
	flex: 1;
}

#show-count
{
	font-size:30px;
}

#player-count
{

}